.banner {
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: right;
  height: 75vh;
  padding: 20px 30px;
  background-size: 50% 100%;
  background-image: url("https://image.freepik.com/free-psd/laptop-mockup-workspace-table_23-2147957476.jpg");
}
.banner__content {
  width: 400px;
  margin: 18vh 0px;

  color: var(--text-color);
}
.banner__content h1 {
  font-size: 50px;
  font-family: "Gothic A1", sans-serif;
}
.banner__content button {
  margin-top: 20px;
  color: var(--bg-color);
  background-color: var(--text-color);
  text-transform: inherit;
  border-radius: 0px;
  border: none;
  /* box-shadow: 0px 4px 4px -4px #000; */
}
.banner__content button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}
