.header {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 20px; */
  height: 50px;
  align-items: center;
}
.header__logo img {
  height: 30px;
  object-fit: contain;
}
.header__menu {
  flex: 0.5;
  justify-content: space-between;
  display: flex;
}
.header__menu a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
}
.header__user a {
  text-decoration: none;

  color: var(--text-color);
}
.header__user button {
  color: var(--bg-color);
  margin-left: 20px;
  background-color: var(--bg-color);
  /* border-radius: 0px; */
  color: var(--text-color);
  border-radius: 0px;
  border: none;
  text-transform: inherit;
}
.header__user button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
